.d_M{
    background-color: rgba(200, 0, 0, 0.274);
}
.p_B{
    height: 300px;
    background-color: blue;
    background-size: cover;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    background-attachment: fixed;
}
#_1{
    height: 400px;
    width: 100%;
    background-image: url(gun_1.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    display: table;
    vertical-align: middle;
    background-attachment: fixed;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
#_2{
    height: 400px;
    width: 100%;
    background-image: url(Logo.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    display: table;
    vertical-align: middle;
    background-attachment: fixed;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
#_3{
    height: 400px;
    width: 100%;
    background-image: url(lounge.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    display: table;
    vertical-align: middle;
    background-attachment: fixed;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
#_4{
    height: 400px;
    width: 100%;
    background-image: url(MANDO.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    display: table;
    vertical-align: middle;
    background-attachment: fixed;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}